@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplication2.Models;
@model FileClass
@{
    Layout = null;
}

<form asp-controller="File" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <hr />
    <button type="submit">Upload</button>
</form>

@if (Model != null)
{
    <hr />
    <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0" border="1">
        <thead>
            <tr>
                <th>SL</th>
                <th>PDF Name</th>
                <th>Display type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (FileClass file in Model.Files)
            {
                <tr>
                    <td>@file.FileId</td>
                    <td>@file.Name</td>
                    <td>
                        <a href="../File/Index?fileName=@file.Name" style="margin-right: 10px;">@file.Name</a>
                        <a href="../File/PDFViewerNewTab?fileName=@file.Name" target="_blank">@file.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<br />

<embed id="embPDF" src="~/files/@Model.Name" style="width: 100%; height: 1200px;"></embed>
